[2013-12-16 16:09] abbasmousavi opened #2 "Examples showing how to query for object relations from loopback SDK"
I am trying to query a loopback server for relations between models, I have a "Section" Model and an "item" model, and a has me nay relation between them, so I can query for all items in a section with /sections/:id/items from a rest client.

How can I do the same query from loopback iOS client? any documentation or code examples?

[2014-02-28 22:10] nikita-leonov opened #5 "Podspec"
Would be great to have podspec for integration of  SDK with use of CocoaPods (http://cocoapods.org).

[2014-02-28 22:13] nikita-leonov opened #6 "Travis CI"
Travis CI (http://travis-ci.org) integration would be great as well to know what is the state of current branches. As for now it is unclear s project in master compilable or not.

[2014-02-28 22:15] nikita-leonov opened #7 "Coveralls integration"
As there is unit tests available it would be awesome to have http://coveralls.io integrate to see unit test coverage and its changes for each of pull requests.

ps We have all continuous delivery integrations implemented here — https://github.com/epam/road-ios-framework You may use this project as a reference.

[2014-02-28 23:06] nikita-leonov opened #8 "How to authenticate with iOS SDK?"
There is no samples of authentication routine as user or application in documentation.

[2014-02-28 23:36] nikita-leonov opened #9 "Classes for build-in models missed."
There are no classes for standard models such as User, Application etc

[2014-03-02 10:05] #8 closed, assigned to nobody

[2014-03-02 10:07] nikita-leonov opened #10 "Relationships handling"
What would be the best way to handle relationships with SDK? As for now I have only one idea — invokeStaticMethod. Any other suggestions? References to working code would be helpful. Thanks.

[2014-06-30 12:21] abbasmousavi opened #12 "Is this project still alive?"
No commit in nearly 4 months and many features added to loopback? When iOS client will support these new features?

[2014-06-30 15:39] eldefay opened #13 "Apple swift enablement"
I tried to use the SDK in Apple's new swift programming language by bridging to OC. I couldn't call "LBRESTAdapter adapterWithURL". Since the method isn't in "LBRESTAdapter" maybe just adding the .h files of "SLRESTAdapter" would do the trick. I'm just not sure how to do that.

Did anyone try it with swift so far?

[2014-07-02 12:22] dcacenabes opened #15 "Can't clone the repo"
`git clone https://github.com/strongloop/loopback-sdk-ios.git --recursive`
throws the error message:
No submodule mapping found in .gitmodules for path 'SLRemoting'

[2014-07-02 15:23] #15 closed, assigned to nobody

[2014-08-11 13:24] clark0x opened #16 "SDK Doc doesn't document `SLRESTContract` Class"
`SLRESTContract` Class is not listed under [Data Structures](http://apidocs.strongloop.com/loopback-sdk-ios/api/annotated.html), nor referenced in `contract` [Instance Method of LBModelRepository](http://apidocs.strongloop.com/loopback-sdk-ios/api/interface_l_b_model_repository.html).

[2014-10-16 23:06] crandmck opened #17 "Document LBUser and LBFile"
These were never added to iOS SDK docs.

**Need to prioritize.**

[2014-11-21 05:47] ravindrapai opened #19 "crash when send feedback on loopback pressed."
2014-11-21 11:14:11.181 Vision[2003:471386] [I] Showing email feedback with info: Feedback from settings on:<GFDebugSettingsViewController: 0x190412b0> 2014-11-21 11:14:11.456 Vision[2003:471386] **\* Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'Application tried to present a nil modal view controller on target <GFDebugSettingsViewController: 0x190412b0>.' **\*

[2014-12-22 16:37] fsegouin opened #20 "Use a stored user access token?"
Hi guys,

Here is my question: is there any way to use a stored user access token when I launch my iOS app, without having to log in again?

Since the user token is stored after a successful login in the LBAccessToken object and then used during the session, is there any way to inject a stored user access token from a previous session and still be able to use it?

Thanks!

[2014-12-22 16:46] #20 closed, assigned to nobody

[2014-12-31 02:41] infolock opened #21 "Swift Port?"
Is there a swift port of this code coming?  I'm building one for myself at the moment in case there isn't.  I'm still a bit novice, but anyone that may be interested can check out what I have so far (and maybe help out with the port too? (=  )

Direct link to the code: https://github.com/infolock/loopback-sdk-ios/tree/master/LoopBack/Swift

At this stage, the initial conversion for LBModel.swift i

[2015-02-01 08:50] trunglee opened #22 "Duplicated extern string "AFQueryStringFromParametersWithEncoding" and "AFContentTypesFromHTTPHeader" with AFNetworking"
Why we don't rename the prefix from AF to SLAF for these constants too?, if the project uses both loopback and AFNetworking, it can not build.

[2015-02-04 09:58] hideya opened #23 "Convert unit tests from OCUnit to XCTest"
Since "OCUnit is marked as deprecated as of Xcode 5.1" and the conversion doesn't look that involved, I thought it might be good idea to switch the unit tests to use XCTest.

FYI, "Transitioning from OCUnit to XCTest":
https://developer.apple.com/library/prerelease/ios/documentation/DeveloperTools/Conceptual/testing_with_xcode/A3-transitioning_ocunit_to_xctest/A3-transitioning_ocunit_to_xctest.htm

[2015-02-04 15:32] benmarten opened #24 "Automatic Creation of LBModel Objects for Included Relations"
Hello, how can I achieve that the related Objects that i include (via include filter) are automatically parsed into the correct LBModel?

Example:

		<FSDish {
		    name = Pizza;
		    orders =     (
		                {
		            unitPrice = "2.99";
		            userId = 54ca8404f0d971928b50b9c8;
		        }
		    );
		}>

The orders array should contain FSOrder objects, how to achieve that

[2015-02-05 12:51] benmarten opened #25 "Suggestion to get rid of Settings.plist"
Today I configured Notification with LB iOS SDK.

I noticed, that the framework has hardcoded to reference: Settings.plist for e.g. AppId and AppVersion.

Since we have the version already in the Info.plist it would make much more sense to get the AppId and AppVersion from there.

[2015-02-09 22:09] benmarten opened #26 "Logout user is not working - GET instead of POST used"
The logout method in the LB iOS FW uses GET instead of POST. Hence the logout is not working (404).

It should be - LBUser.m:

		- (SLRESTContract*)contract
		{
		    SLRESTContract* contract = [super contract];

		    [contract addItem:[SLRESTContractItem itemWithPattern:[NSString stringWithFormat:@"/%@/logout", self.className] verb:@"POST"]
		            forMethod:[NSString stringWithFormat:@"%@

[2015-02-17 10:24] Baldoph commented on #2
@ritch I can't get this to work. I have the very same goal and when I call -invokeMethod:@"items"... on my Section (: LBModel) the server returns a 404 status code:
``` "message":"could not find a model with id prototype","statusCode":404,"code":"MODEL_NOT_FOUND" ```
The URL the iOS SDK built is  URL: http://0.0.0.0:3000/api/sections/prototype/items

[2015-03-02 05:12] carliwis commented on #10
hi @nikita-leonov
I have the same question you to use the relationships between models.

Could you accomplish using SDK?

appreciate your help, I do not find much related information on this topic.

[2015-03-02 05:38] carliwis opened #31 "Examples showing how to query for object relations from loopback SDK"
Hi,

I am trying to query a loopback server for relations between models, I have a "Users" Model and an "Cars" model, and a has me nay relation between them, so I can query for all items in a section with /users/:id/cars from a rest client.

any documentation or code examples?

[2015-03-02 23:27] nikita-leonov commented on #10
@carliwis I found SDK be a very basic tool that is not ready for prime time in big product, so decided to use more convenient tools like AFNetworking which has better feature set and community support. I didn't find a good answer to question above.

[2015-03-04 21:24] vittoriofoschi opened #32 "registerForRemoteNotificationTypes and xcode 6.1"
The method registerForRemoteNotificationTypes is not compatible with ios8 and Xcode 6.1

[2015-03-05 02:59] melote commented on #21
well done, thanks for coding.

[2015-03-12 03:42] carliwis commented on #32
nobody answers the issues =/

[2015-03-18 12:00] hideya opened #34 "LBFile/LBContainer API improvements?"
LBFile looks left in a halfway-done status, and I'm wondering any effort should be made to update it
so that it looks closer to the Android one.  Currently, the APIs for iOS's and Android's SDKs LB file support look very different (and Android one seems more matured).  Considering easiness of multi-device support by developers, I think the both are better be aligned.

LBFile doesn't use LBContaine

[2015-03-18 13:48] hideya commented on #26
You are right.  It should be POST.
However, in my simple test environment, the logout method seems working w/o fixing the verb...
My simple test does; login, logout then logout again.  The 2nd logout fails with Status 500 "could not find accessToken" as expected for both cases w/ and w/o the verb fix.

@benmarten, I'm trying to reproduce the issue you encountered and thinking to propose to add a t

[2015-03-18 14:12] hideya commented on #25
That makes sense to me.  Code like the following would be good:
<code>
NSDictionary *infoDict = [[NSBundle mainBundle] infoDictionary];
NSString *appId = [infoDict objectForKey:@"CFBundleName"];
NSString *appVersion = [infoDict objectForKey:@"CFBundleVersion"];
</code>

[2015-03-18 14:16] hideya commented on #25
That makes sense to me.  Code like the following would be good:
[code]

[2015-03-18 14:28] hideya commented on #22
I want this fixed too

[2015-03-18 14:59] hideya commented on #32
The following fix has to be applied to `LBPushNotification.m` too:
https://github.com/strongloop/loopback-component-push/pull/67/files

[2015-03-18 16:11] benmarten commented on #26
Sure, don't have a lot of time atm, but if you can share a sample project, then i am happy to take a look?
Or what test is failing?

[2015-03-19 05:31] hideya commented on #26
Thanks!  I just modified the unit test `LBUserTests.m` and ran the server found in `LoopBackTests/server`.  The test succeeds (i.e. the 2nd logout fails as expected) regardless of the verb fix.
[code]

[2015-03-19 06:13] benmarten commented on #26
I just tested it again in my latest app. It definitely fails for me with GET, with POST it works...
I can't get the tests you mentioned running, ran pod install, but there are still errors.... how do i actually run the tests in xcode?

[2015-03-19 06:53] hideya commented on #26
Thanks for sparing time on this!  To run the test, first the test server needs to be started:
[code]
Then tests under LoopBackTests can be run from xcode's navigation pane.  Am I answering your question?

[2015-03-19 07:42] benmarten commented on #26
Please update package.json to latest packages:

ran it with: `npm-check-updates -u`

"dependencies": {
    "loopback": "2.x.x",
    "loopback-component-push": "~1.4.4",
    "loopback-component-storage": "~1.3.1",
    "loopback-datasource-juggler": "^2.21.0",
    "morgan": "^1.5.2"
  }

Then logout fails...

[2015-03-19 08:38] hideya commented on #26
Thank you so much for pointing it out!  Now I'm able to reproduce the issue!

[2015-03-20 09:24] hideya commented on #26
Checking LBUser implementation, I found another issue.  I've fixed them and made a pull request https://github.com/strongloop/loopback-sdk-ios/pull/35  Thank you, @benmarten, for your help!

[2015-03-20 10:21] hideya commented on #22
I've made a pull request https://github.com/strongloop/loopback-sdk-ios/pull/36 for the proposed fix.
Thanks, @trunglee, for pointing out the issue!

[2015-03-23 18:37] cajoy commented on #21
+1

[2015-04-01 08:43] hideya commented on #26
@bajtos, would you mind to close this as fixed?
@benmarten, the pull request https://github.com/strongloop/loopback-sdk-ios/pull/35 has been merged. Thanks again for your help :-)

[2015-04-01 14:54] hideya commented on #32
I confirmed that the issue still exists in the SDK codebase (although the same issue has been fixed in loopback-component-push/example/ios).  The framework keeps running even with the issue but it emits "registerForRemoteNotificationTypes: is not supported in iOS 8.0 and later" to the debug console. This better be fixed soon.

[2015-04-01 16:36] #26 closed

[2015-04-03 13:32] hideya commented on #32
Now I see the issue has inappropriately been fixed inside the iOS push notification sample app...

[2015-04-05 16:40] esco opened #37 "Swagger CodeGen"
Are there any plans on making an SDK generator for iOS similar to [loopback-sdk-angular](https://github.com/strongloop/loopback-sdk-angular)?

[2015-04-23 13:34] aaresta commented on #37
+10 for that

[2015-05-02 15:27] ageneau commented on #21
@infolock
Thanks for sharing your code. I made some progress on this issue, you can find it here: https://github.com/Black-Tobacco/loopback-sdk-ios/tree/swift
Unit tests are passing for LBModel and LBUser

[2015-05-03 18:18] infolock commented on #21
Very nice @ageneau thanks.  I'll see if I can start getting this back into the swing of things

[2015-05-05 15:22] aaresta commented on #34
Is there any example code of how to use LBFile and LBContainer?

[2015-06-24 06:35] hideya commented on #34
The text cases for LBFile and LBContainer might be helpful to understand the usage:
https://github.com/hideya/loopback-sdk-ios/blob/master/LoopBackTests/LBFileTests.m
https://github.com/hideya/loopback-sdk-ios/blob/master/LoopBackTests/LBContainerTests.m

[2015-06-26 07:52] hideya commented on #32
The issue has been fixed by https://github.com/strongloop/loopback-sdk-ios/pull/38
Thanks for pointing it out!

[2015-06-26 08:21] bajtos commented on #32
I am closing the issue then. @raymondfeng could you please make a new release of the SDK?

[2015-06-26 08:21] #32 closed

[2015-06-26 08:21] bajtos commented on #22
I am closing the issue then. @raymondfeng could you please make a new release of the SDK?

[2015-06-26 08:21] #22 closed

[2015-07-03 09:20] hideya opened #40 "LB 2.0 PersistedModel support"
LoopBack 2.0 introduced "New object PersistedModel" ([Release Notes](http://docs.strongloop.com/display/public/LB/LoopBack+2.0+release+notes)) but iOS SDK has not yet updated to follow the new convention. Although it breaks backward code compatibility, thought it would better be done.

[2015-07-08 14:13] hideya commented on #40
I talked with @bajtos about this.  Here is a plan we discussed.  It would be really great if I could hear any feedback...

Currently, all the LB model classes inherit `LBModel`, and `LBModel` supports CRUD operation.

[current]
[code]
The plan is to introduce `LBPersistedModel` and make the class hierarchy looks like the below (consisted with the server side):

[plan]
[code]

Also all the CRUD met

[2015-07-08 14:19] hideya commented on #37
I'm thinking to work on this after updating the model hierarchy to 2.0: https://github.com/strongloop/loopback-sdk-ios/issues/40

[2015-07-09 11:09] bajtos commented on #40
Sounds good to me! :+1:

I thought that the ID is used to identify a saved object via crud operation, but models.js
includes 'id', so I got a bit confused...

IMO, `id` belongs to `PersistedModel`. It is possible for a `Model` to have an id property too, but it's not always the case.

/cc @raymondfeng

[2015-07-10 04:11] hideya commented on #40
Thanks @bajtos for getting back to me with answers!
On the iOS SDK side, currently `id` is immutable in both `Model` and `PersistedModel`.  Maybe it is should be made mutable in `Model` in that case.

[2015-07-10 04:13] hideya commented on #23
Please close this as it is addressed by https://github.com/strongloop/loopback-sdk-ios/pull/42

[2015-07-10 06:41] bajtos commented on #40
I would personally remove `Model.id` completely and keep `PersistedModel.id` only. Take for example LBFile and LBContainer classes, I believe they don't have any id, do they?

[2015-07-10 06:48] hideya commented on #40
No, they don't.  Actually I meant the same -- making it mutable -> move the special treatment to make `id` immutable to `PersistedModel` -> no special code for `id` in `Model` (sorry for the unclearness in my previous post).  Thanks for the feedback!

[2015-07-15 08:38] hideya commented on #34
Since I've just submitted a compatibility breaking PR https://github.com/strongloop/loopback-sdk-ios/pull/43 (with support from @bajtos), I'm thinking to make this breaking change right next.  As described above, the current LBFile and LBContainer seemingly left in a halfway-done status.  I'll fix them and make the API looks more close to Android's.

[2015-07-17 07:00] hideya commented on #34
Hmm... I'm in middle of updating LBFile/LBContainer API and realized the usage becomes far more involved than I initially thought compared to the current simple and easy API (although it is far less powerful).  I may propose to add some simple wrapper to sugarcoat the complexity, or stay with the current simple and easy design, make minimum fix and add missing features like binary/stream upload/do

[2015-07-20 02:10] sprhawk opened #44 "sdk should expose AFNetworking"
for now if I need custom request, I need add an external AFNetworking lib, but I think I should have made use of bundled AFNetworking lib

[2015-07-21 14:11] lennartstolz opened #45 "Issue while uploading LBFile.h"
[code]
This Function uses **/../ModelName/prototype** instead of the .**./ModelName/{containerName}** for uploading the file. I'm not sure if this is a bug, or I am just stupid.

[2015-07-21 15:47] lennartstolz opened #46 "Import of MobileCoreServices.h missing @ LBFile.m"
Hey there, if you use the loopback-sdk-ios with cocoa pods, there are three issues at <b>LBFile.m</b> because the following import is missing.

[code]

In the Loopback.xcodeproj this import is inside the <b>LoopBack-Prefix.pch</b>-file, but this one is ignored by cocoa pods.

Best Lennart

[2015-07-23 21:58] hideya commented on #46
Thanks for pointing it out, @lennartstolz .  I'll work on fixing it!

[2015-07-23 22:13] hideya commented on #45
Could you explain me a bit more about the issue?  I'm not quite sure what those paths are.  Sorry for my lack of understanding...

[2015-07-23 22:22] hideya commented on #44
Yeah, that would save space, but I guess it is an implementation detail and better be kept private.  For example, SDK currently uses AFNetworking 1.x, but can get updated to 2.x suddenly...

[2015-07-23 22:54] hideya commented on #40
The change (PR #43) has been merged.
Please feel free to close this issue.

[2015-07-24 02:12] hideya commented on #46
@lennartstolz  actually, I guess it is a cocoa pods configuration issue.  Would you try the following?
http://stackoverflow.com/questions/21577655/how-can-i-include-a-pch-for-a-specific-pod-in-cocoapods

[2015-07-24 06:56] #44 closed

[2015-07-24 13:04] lennartstolz commented on #45
Hey hideya,

[2015-07-24 13:18] lennartstolz commented on #45
Hey @hideya,

thanks for you reply and no worries about the lack of understanding. I know this three lines of issue were not enough to get an idea of what I'm talking about. :wink:

So I added a short code snippet to show you how I create a new LBFile-Object.

[code]

This works like charm.
When I try to upload the file with the following method:

[code]

The path property of the SLRESTAdapter.m i

[2015-07-24 14:06] lennartstolz opened #48 "Issue with SLStreamParam while uploading UIImage"
Hey @ all,

I create an LBFile as following:

[code]
This works like charm.

When I try to upload the file I get an error in **SLAFHTTPClient.m**:

[code]

It seems like in line **488**, the following code throws the bug, because inside the NSDictionary there is an object of **SLStreamParam** which is not amused to be wrapped into an JSONObject. :wink:

[code]

I tried to upload the file with the

[2015-07-24 14:10] lennartstolz commented on #46
Hey @hideya,

thanks for your reply.

As mentioned inside the  [Podspec Syntax Reference](http://guides.cocoapods.org/syntax/podspec.html#prefix_header_file) using this attribute is not recommended.

Or did I misunderstood the article @ stackoverflow?

Best Lennart

[2015-07-25 02:03] hideya commented on #45
Hi @lennartstolz,
Thanks for the detailed explanation!  Checking the code, I noticed `@"Receipt"` is given when creating the `LBFileRepository`.  Is it a class you defined?  As far as I know, usual way to create a file object is something like the following:
[code]
Could you try this and see if it works for you?

[2015-07-25 02:13] hideya commented on #46
Hey @lennartstolz,

Oops, I missed that part... sorry...
So, I got the same question...

Do you know the answer?

[2015-07-25 02:18] hideya commented on #48
Could you try the way to create file object mentioned in https://github.com/strongloop/loopback-sdk-ios/issues/45 ?

Hope it works.
In any case, the failure mode is not quite good.  The issue should have been picked up before going into the AFNetwork level.

[2015-07-25 02:34] hideya commented on #46
I guess it is harmless to put the import to **LBFile.m**.  Would you please try putting the following and see if it works?
[code]
In order to make the OS X build also work, we need #if there.  If it works, would you mind to submit a pull request for the change?

[2015-07-25 07:34] lennartstolz commented on #45
Thanks for your reply @hideya ,

I'll have a detailed look on this in a bit. Just tried it for a few minutes and it looks good (no errors anymore and success-block called, but the image isn't in the AWS S3 bucket.

I think I have to create a **Receipt** class first, because using **LBFileRepository** is not working with the Loopback Route **/Receipt/container/upload**.

[2015-07-25 07:59] hideya commented on #45
You are very welcome, @lennartstolz
As far as I know, LoopBack's storage service's URI's format is fixed like `/api/containers/:container/upload`  Have you checked out the following document?
http://docs.strongloop.com/display/public/LB/Storage+component

[2015-07-25 18:15] hideya commented on #46
@lennartstolz, thank you so much for filing the PR!

[2015-07-27 15:31] lennartstolz commented on #45
:+1: @hideya. Thanks for this link.
I thought it would be possible to use StorageComponent as persistent storage for an model.

But this solution makes more sense.

[2015-07-27 15:31] #45 closed

[2015-07-27 15:32] lennartstolz commented on #48
:+1: @hideya. Thanks for this link.
I thought it would be possible to use StorageComponent as persistent storage for an model.

But this solution makes more sense.

[2015-07-27 15:32] #48 closed

[2015-08-04 11:12] behrad opened #51 "LBInstallation _id not set"
After updating to the latest version of sdk, my code broke when working with LBInstallation. After digging into it found that it should be related to #40
I have 2 issues:

1) after `registerDeviceWithAdapter` in success callback, `mode._id` got to null

2) when re-registring (updating an LBInstallation) loopback tries to create existing model here
https://github.com/strongloop/loopback-sdk-ios/blo

[2015-08-05 09:59] hideya commented on #51
@behrad Thank you for reporting the issue.  I'll look into the cause soon.  Sorry for any inconvenience...

[2015-08-05 10:49] hideya commented on #51
@behrad I quickly checked the unit test for `registerDeviceWithAdapter` against the current SDK and found it is successful, meaning `model._id` holds a valid number:
https://github.com/strongloop/loopback-sdk-ios/blob/master/LoopBackTests/LBInstallationTests.m#L67-L86

Since `LBInstallation` is a `PersistedModel`, #40 is not supposed to change any of its behavior (except its superclass change).  A

[2015-08-05 16:44] bajtos commented on #34
Both ways are fine with me. Let's pick the one that requires less work to get implemented.

[2015-08-05 17:04] #40 closed

[2015-08-06 04:14] hideya commented on #34
@bajtos Thanks for your feedback!   I made a PR #47 that keeps current API and adds missing features as a convenience methods to LBFileRepository.  How does the PR look to you?

[2015-08-06 04:52] behrad commented on #51
we first changed `model._id` to `[model.toDictionary valueForKey:@"id"]` and it retrieved the value, One of our guys added this to https://github.com/strongloop/loopback-sdk-ios/blob/master/LoopBack/LBPersistedModel.m#L24
[code]

and it worked!!

[2015-08-06 05:34] hideya commented on #51
Thanks @behrad for getting back to me with the successfully modified code.   I'm not sure why the issue didn't reproduce on my side, but having explicit `@synthesize _id = __id;` is a good idea (even without it, automatic synthesis should happen, but the code shouldn't have assumed the instance variable name that is used for storage).

Could I ask you one change?  Could you please add just `@synth

[2015-08-06 05:45] hideya commented on #46
@lennartstolz if you don't have time to work on changes to reflect my comments on your PR https://github.com/strongloop/loopback-sdk-ios/pull/50 , I'd be happy to take it over and try to get integrated into the codebase.  Please let me know if you'd like me to do so.

[2015-08-06 12:49] behrad commented on #51
Yes, only adding `@synthesize _id = __id;` makes it work for me!

[2015-08-06 13:06] hideya commented on #51
Thank you, @behrad !  Then we should add the line there.  Would you like to file a Pull Request for the change?  If so, please go ahead.  If you'd like me to take care of it, I'm happy to do so.  Please let me know.

[2015-08-06 13:10] behrad commented on #51
Since I'm not the main developer of our IOS code, I'd be happy if you can take care of it. Thank you for your fast response @hideya

[2015-08-06 13:14] hideya commented on #51
You are very welcome, @behrad.  Sounds good to me.  I'll take care of it as the first thing tomorrow!

[2015-08-06 13:15] behrad commented on #51
:+1:

[2015-08-07 01:07] hideya commented on #51
I just filed PR https://github.com/strongloop/loopback-sdk-ios/pull/52 .
Thank you @behrad for all the help!

[2015-08-07 06:19] lennartstolz commented on #46
@hideya Sorry for not answering at #50. At the earliest I would start integrating your changes in the upcoming week. So I would be really happy if you take it over. Best Lennart!

[2015-08-07 06:35] lennartstolz commented on #46
Ok! Forget my last comment @hideya. I've created a new request: #53

[2015-08-07 07:07] hideya commented on #46
:-) Thank you, @lennartstolz !  Hope I didn't pressure you to do it quicker...  Much appreciated!

[2015-08-13 09:05] lennartstolz opened #54 "AFNetworking EXC_BAD_ACCESS while using downloadAsDataWithName[...] in LBFile.m (iOS Device only)"
Hey @ all,

I ran into the following issue:
[code]
in Line 797 in [SLAFURLConnectionOperation.m](https://github.com/strongloop/loopback-sdk-ios/blob/master/SLAFNetworking/SLAFURLConnectionOperation.m/#L797 "SLAFURLConnectionOperation.m").

I used this methof of *LBFile.h*:
[code]

In the simulator it works like charm. On real iOS devices it crashes. :fire:

Best Lennart

---

#### EDIT (2015-08-13

[2015-08-14 04:29] hideya commented on #54
@lennartstolz , thank you for reporting the issue.  I'm traveling right now and will get back to you as soon as I get home.  Sorry for any inconvenience...

[2015-08-14 09:45] #23 closed

[2015-08-18 09:16] hideya commented on #54
@lennartstolz, I found an issue in the implementation of `downloadAsDataWithName:container:success:failure:` and fixed it.
The updated PR https://github.com/strongloop/loopback-sdk-ios/pull/47 includes the fix.  Would it be possible for you to try it out and see if the crash in your environment is fixed?

FYI, the issue was missing `__block` keyword at the top of the following line:
https://github

[2015-08-18 09:51] lennartstolz commented on #54
Hey @hideya. Thanks for your reply. I've added your quickfix to my project. And it still fails on my iPhone 6 testing device.

[2015-08-18 09:56] hideya commented on #54
Thanks, @lennartstolz, for quickly checking it.  Hmm... OK, I'll dig the issue deeper.  Please give me a bit more time...

[2015-08-18 10:08] lennartstolz commented on #54
Sure! Sounds great. As far as I can see the issue appears after the success()-block is called.

in Line 186 in [SLAFURLConnectionOperation.m](https://github.com/strongloop/loopback-sdk-ios/blob/master/SLAFNetworking/SLRESTAdapter.m/#L186 "SLRESTAdapter.m") the responseData seems valid.

Perhaps I've found the problem (It's working now on all of my testing devices :smile: ) but I'm not sure if this

[2015-08-18 10:23] hideya commented on #54
Ahhh!  I see the issue!  Thank you, @lennartstolz, for the additional info.

Instead of changing `downloadWithName:container:outputStream:success:failure:`, could you try the following changes in `downloadAsDataWithName:container:success:failure:`? (removal of `id value` from Line 236):

[code]
`LBFileUploadSuccessBlock` callback doesn't have any argument but I was passing one...

[2015-08-18 10:23] lennartstolz commented on #54
@hideya would be awesome if you'll send me a short message with your first impression of this _bugfix_. And if it's a valid fix, if you can add it to your PR or if I should create another one. But my last one is still not reviewed. So I think it would be more intelligent, if you add it to yours.

[2015-08-18 10:27] lennartstolz commented on #54
@hideya it works! :+1: Thank you!

[2015-08-18 10:29] hideya commented on #54
@lennartstolz thank you for checking it this quickly!  I'll update the PR to include this change!

[2015-08-18 10:36] lennartstolz commented on #54
Sounds great! Should I close this issue? Or should it be open as long as the PR is not reviewed?

[2015-08-18 10:39] hideya commented on #54
If the issue is resolved on your side, please feel free to close this issue :-)
Thank you again @lennartstolz for your help to fix the bug in the PR!

[2015-08-18 10:40] lennartstolz commented on #54
Closed and bugfixes are embedded in :https://github.com/strongloop/loopback-sdk-ios/issues/54

[2015-08-18 10:40] #54 closed

[2015-08-19 09:19] melote opened #55 "Is there any chance to use cocoapods as a package manager?"
Is there any chance to use cocoapods as a package manager? It will be more convenient  if using cocoapods to manage this project.

[2015-08-19 09:33] lennartstolz commented on #55
Have you tried:

[code]

[2015-08-19 09:48] lennartstolz commented on #55
Full (and hopefully more helpful):

I currently use this fork and commit of @hideya until his pull request is not reviewed:

[code]

2) After *pod install* you'll run into an issue in LBFile.m That's not good, but until my pull request is reviewed "normal".

You could easily fix this by hand with adding the following code into the top of the LBFile.m:

[code]

After this, it should work like charm

[2015-08-19 12:49] melote commented on #55
thanks very much.  I can't find any official cocoapods docs of loopback-ios-sdk, so I thought there's no documentation about it, my bad.

[2015-08-22 07:43] #51 closed

[2015-08-22 07:46] #46 closed

[2015-09-01 00:46] hideya opened #57 "Obj-C property mapping to use primitive types in LBPersistedModel?"
In the current implementation, `Number` and `Boolean` types are both mapped to `NSNumber`.  It would have been much programmer friendly if those can be accessed via primitive types, namely `long` and `BOOL` respectively.

For example, the following is a code example  with the current mapping:
[code]

With proposed mapping, an equivalent code would look like the following:
[code]

How about making

[2015-09-01 04:35] hideya commented on #57
I think I figured a way to make the both (access via NSNumber and access via primitive type) work by checking setter's argument type.  I'll take that approach since it makes the change backward compatible :-)

[2015-09-04 02:21] hideya opened #60 "Buffer and GeoPoint types are not supported"
Date, Buffer and GeoPoint types are not supported.

[2015-09-09 19:38] hideya commented on #34
@bajtos would you please close this as PR #47 has been merged?

[2015-09-09 19:39] hideya commented on #34
I'm closing this as PR #47 has been merged

[2015-09-09 19:39] #34 closed

[2015-09-09 19:40] hideya commented on #57
I'm closing this as PR #58 has been merged.

[2015-09-09 19:40] #57 closed

[2015-09-09 19:48] hideya commented on #55
Just a quick note -- as @lennartstolz's PR #46 has been merged, the master is now ready for cocoapods :-)

[2015-09-09 21:19] soltrinox opened #61 "Missing MobileCoreServices - LBFile"
`#import <MobileCoreServices/MobileCoreServices.h>`

missing in the LBFile.m

Added the import and works fine now?
Maybe you want to submit change request ?

[2015-09-10 05:00] hideya commented on #61
Would you check the version you are looking at?  The latest LBFile.m in master has the import:
https://github.com/strongloop/loopback-sdk-ios/blob/master/LoopBack/LBFile.m#L8-L10

[2015-09-12 07:48] soltrinox commented on #61
Yes did a check... i pulling the latest from git in my Podfile  ?

pod 'LoopBack', :git => 'https://github.com/hideya/loopback-sdk-ios'

[2015-09-12 07:48] #61 closed

[2015-09-14 15:22] soltrinox opened #63 "Casting child object from [filter:include] request using LBPersistedModels"
I must be missing something wrong because i can not directly translate child objects that are "filter[include]"  to their respective model class types.   I created a parser method to handle this.
Any recommendations to do it easier or correctly?

### I request the child objects through a parent model like this ###

[code]

### My Child Model Class is here ###

[code]

###And the model looks like t

[2015-10-21 02:19] hideya commented on #60
Date type handling has been added by PR https://github.com/strongloop/loopback-sdk-ios/pull/65

[2015-10-25 05:39] vikmeup commented on #5
anybody?

[2015-10-25 23:56] Vincentjonssonqi commented on #37
I just read that the swagger codegen project has support for swift SDK generation. Is this something that you guys plan to incorporate? If not, is there some downside to using the swagger generator on iOS? As you guys probably have a lot of experience with swagger It would be great to get your input on this matter. Is it a good idea and if so how do we start?

[2015-10-26 08:12] hideya commented on #37
@Vincentjonssonqi , thanks for the info!  I didn't realize that  the swagger codegen has support for swift.  @raymondfeng @bajtos ,  would you give us any input on this?

[2015-10-26 08:16] hideya commented on #5
@vikmeup , LoopBack.podspec and Podfile files are already in:
https://github.com/strongloop/loopback-sdk-ios/blob/master/LoopBack.podspec
https://github.com/strongloop/loopback-sdk-ios/blob/master/Podfile
Do those look good?

[2015-10-26 08:18] hideya commented on #5
@vikmeup , LoopBack.podspec and Podfile files are already in:
https://github.com/strongloop/loopback-sdk-ios/blob/master/LoopBack.podspec
https://github.com/strongloop/loopback-sdk-ios/blob/master/Podfile
Do those look good?

[2015-10-26 16:15] vikmeup commented on #5
@hideya it's not pushed to CocoPods Spec, you need to specify :git url

[2015-10-26 17:12] vikmeup commented on #31
any status on this?

I would like to see examples as well

[2015-10-27 00:47] Vincentjonssonqi opened #69 "Can not subclass LBUserRepository in swift"
[code]

Tried to subclass LBUserRepository but I keep getting this error: "Cannot override 'repository' which has been marked unavailable"
What am I missing?

[2015-10-27 19:28] hideya commented on #5
@vikmeup ah, that's right.
@raymondfeng , would you tell me who is talking care of iOS SDK release cycles and can push the appropriate version to CocoPods Spec?

[2015-10-27 19:55] hideya commented on #31
Although iOS SDK doesn't directly support relations yet, I hope the following post may help:
Issue https://github.com/strongloop/loopback-sdk-ios/issues/2 -- Examples showing how to query for object relations from loopback SDK (NOTE: now you need to subclass `LBPersistedModel` instead of `LBModel` if you are using the code from the master).

I'd like to have SDK to support relations directly and w

[2015-10-27 20:13] hideya commented on #69
`repository` method's return type is `instancetype`
So, maybe try `override class func repository() -> Self {` ?

[2015-10-27 22:10] Vincentjonssonqi commented on #69
Thanks for the answer but by doing so it produces yet an error: "Expected type for function result"

[2015-11-02 13:37] bajtos commented on #37
I think we need somebody to check what's the output of swagger codegen and see how much information was lost along the way, i.e. how much value can a  custom LoopBack codegen add.

[2015-11-04 00:35] hideya commented on #37
@Vincentjonssonqi, would you give me a pointer to the description on the swagger codegen project's swift SDK generation support? (I've searched but couldn't find)

@bajtos, I've added a new Issue https://github.com/strongloop/loopback-sdk-ios-codegen/issues/3 for the discussion.

[2015-11-04 00:55] hideya opened #71 "LBPersistedModel's method support is partial"
`LBPersistedModel` doesn't fully support server-side `PersistedModel`'s methods.
See [LBPersistedModel.h](https://github.com/strongloop/loopback-sdk-ios/blob/master/LoopBack/LBPersistedModel.h) and https://docs.strongloop.com/display/LB/PersistedModel+class

[2015-11-04 01:11] hideya opened #72 "Module is not defined for the built framework"
The iOS SDK framework doesn't have module definition, which is troublesome especially for its use with Swift.

[2015-11-04 07:12] hideya commented on #69
@Vincentjonssonqi , did you find any solution for it or cause of the issue?
I finally had a chance to try the code and reproduced it, and am having a difficulty to find a solution...

[2015-11-06 06:50] hideya opened #74 "Framework exposes non-public headers"
Headers that are used by implementation files only are currently exposed as public.
Such headers include all the AFNetworking derived headers (`SLAF***.h`).
Those headers should be kept as project private.

[2015-11-08 15:07] dorjeozer commented on #21
I started to create Parse.com like SDK in Swift for LoopBack during this weekend's UltraHack 2015. There's still a lot to be done, but the foundation should be solid. Contributions from the community are very welcome.

The project can be found at: https://github.com/dorjeozer/LoopBack-Swift.

[2015-11-16 09:50] hideya commented on #69
I figured out the situation.  The complication is caused by Swift's automatic remapping of Obj-C factory methods to Swift constructors when importing Obj-C classes (for details see [this SO post](http://stackoverflow.com/questions/26818432/how-to-call-an-objective-c-class-method-in-swift)).

So, the definition of `CustomerRepository` would look like the following:
[code]
and its usage would look l

[2015-11-16 13:39] Vincentjonssonqi commented on #69
I solved it by using a subclass of User as user on the server. the iOS sdk started using my user (small U) subclass without me needing to subclass LBUserRepository on the client. Thank you for taking time to look into this.

[2015-11-16 13:40] #69 closed

[2015-11-18 08:54] hideya commented on #74
This is fixed by PR https://github.com/strongloop/loopback-sdk-ios/pull/75

[2015-11-18 08:54] #74 closed

[2015-11-20 13:09] bajtos commented on #13
@hideya you mentioned that you managed to call iOS client from Swift, could you perhaps advise here?

[2015-11-20 13:10] bajtos opened #78 "Enable unit test execution from `npm test`"
Add necessary infrastructure so that `npm test` builds the framework and runs unit-tests on an emulator. See https://github.com/strongloop/loopback-sdk-ios-codegen/pull/7

[2015-11-26 06:57] hideya commented on #13
When to use from Swift, we need to pay attention to its automatic remapping of Obj-C factory methods to Swift initializers when importing Obj-C classes (for details please see [this SO post](http://stackoverflow.com/questions/26818432/how-to-call-an-objective-c-class-method-in-swift)).

So, the usage of `LBRESTAdapter adapterWithURL` in Swift world would look like the following:
[code]

I think sa

[2015-11-26 08:17] hideya commented on #78
I made a PR for this: https://github.com/strongloop/loopback-sdk-ios/pull/79
I'm asking @rmg to integrate it into the automated checks on the CI.

[2015-11-26 08:18] hideya commented on #72
Closing this as fixed in PR https://github.com/strongloop/loopback-sdk-ios/pull/76

[2015-11-26 08:19] #72 closed

[2015-11-26 15:45] kexoth commented on #55
But still it would be nice if the owners of the LoopBack SDK will publish it on CocoaPods :+1:

[2015-11-27 08:34] hideya commented on #55
+1
@bajtos is working on it.

[2015-11-27 15:19] bajtos commented on #13
@hideya could you please work with @crandmck to make this happen?

[2015-11-30 23:35] crandmck commented on #13
@hideya If you give me a gist or something like that, I will add it to the docs.

[2015-12-02 08:26] hideya commented on #13
@crandmck thanks for your contact!  I'll work on a draft and ping you when I finished it.  Please give me a bit of time...

[2015-12-09 18:17] kgoedecke opened #81 "Exception since updating to latest SDK version"
As mentioned in an other issue the logout still uses GET instead of POST in the version that is available through the official website, so I decided to update the SDK.

I used a Podfile to get the latest version from GitHub:
```pod 'LoopBack', :git => 'https://github.com/strongloop/loopback-sdk-ios.git'```

Now that I got the latest version I'm facing an other problem While running the following c

[2015-12-09 23:48] kgoedecke commented on #81
Solved: I forgot to create a new User object inheriting from LBUser.

[2015-12-09 23:48] #81 closed

[2015-12-11 09:59] hideya commented on #78
Closing as fixed by PR #79

[2015-12-11 09:59] #78 closed

[2015-12-11 10:05] hideya opened #82 "CI is not running the unit tests against OS X"
Just a quick note -- PR https://github.com/strongloop/loopback-sdk-ios/pull/79 enabled the CI to run the unit tests against the iPhone simulator, but it is not yet running the tests against OS X.  Please read this https://github.com/strongloop/loopback-sdk-ios/pull/79#issuecomment-162181706 for details.

[2015-12-11 16:20] kgoedecke commented on #55
I wrote a quick tutorial on how to use LoopBack SDK in Swift with Cocoapods http://kevingoedecke.me/2015/12/11/using-loopback-ios-sdk-with-cocoapods-in-swift/

[2015-12-16 21:42] bhushpar82 opened #84 "LB Container issue, Cannot call RestAPI methods"
Hi, We have implemented loopback and created a container. However we have named it as: imagecontainer in server. However when I am trying to call container related methods, I am getting error information. In this error I still see loopback api still pointing to "container" and not "imagecontainer". Not sure if this is hardcoded in SDK? Can you pls. check and let us know the issue.

Below is the er

[2015-12-18 14:25] hideya commented on #84
According to [Storage component REST API](https://docs.strongloop.com/display/public/LB/Storage+component+REST+API) document, `[restApiRoot]/container`part is fixed.  I'm not sure but it sounds like you are trying to change the `/container` part to `/imagecontainer`?  Would you tell me how you created imagecontainer on the server side, and how you are trying to invoke it on the client side?  Exact

[2015-12-18 15:11] bajtos commented on #13
FWIW, a nice doc is available here: http://kevingoedecke.me/2015/12/11/using-loopback-ios-sdk-with-cocoapods-in-swift/

[2015-12-19 02:04] kgoedecke opened #86 "Subclass LBPersistedModelRepository in Swift"
I'm having problems subclassing LBPersistedModelRepository in Swift.
[code]
When I run my app now I get the following exception:
[code]
The problem is that there's no proper way to override ```+ (instancetype)repository ``` in Swift. Maybe it's a good idea to change the way it's currently implemented to enable people to use the SDK with Swift?

Is there any known workaround for this issue?

@hidey

[2015-12-21 07:56] hideya commented on #86
@kgoedecke Please reference the following working code fragment.
[code]

Yeah, I agree.  I don't know the history much about the current SDK class structure, but it looks a bit too involved.  Also, as you pointed out, necessity to override `+ (instancetype)repository` doesn't seem compatible with swift because of its automatic Obj-C factory method to swift initialiser mapping...

Commit https://gi

[2015-12-21 09:41] hideya commented on #86
@kgoedecke I reverted https://github.com/strongloop/loopback-sdk-ios/commit/9f8aecd92a89b86f578d73be6772885040e91d3f in my local workspace.  In that case, the repository can be initialised in the following way:
[code]
It looks better than now to me, so I'm thinking to revert most of https://github.com/strongloop/loopback-sdk-ios/commit/9f8aecd92a89b86f578d73be6772885040e91d3f .  I'll make a PR sho

[2015-12-21 10:01] raymondfeng commented on #86
I am out of the office until 01/04/2016.

Happy holidays!

Note: This is an automated response to your message  "Re:
[loopback-sdk-ios] Subclass LBPersistedModelRepository in Swift (#86)" sent
on 12/21/15 9:41:47 AM.

This is the only notification you will receive while this person is away.

[2015-12-21 11:50] kgoedecke commented on #86
Yep, I also reverted the changes locally to test this and it seems to work quite well! Thanks for helping out so quickly. I think we'll face more problems with Swift, but it's good to know that I'm not the only one working with it ;-)

Btw: Happy holidays to you!

[2015-12-21 11:50] #86 closed

[2015-12-21 11:55] hideya commented on #86
@kgoedecke thank you for your input too!  Yes, it is really nice to know someone else is working together :-)  Happy holidays to you too!

[2015-12-21 16:01] raymondfeng commented on #86
I am out of the office until 01/04/2016.

Happy holidays!

Note: This is an automated response to your message  "Re:
[loopback-sdk-ios] Subclass LBPersistedModelRepository in Swift (#86)" sent
on 12/21/15 11:50:33 AM.

This is the only notification you will receive while this person is away.

[2015-12-21 16:02] raymondfeng commented on #86
I am out of the office until 01/04/2016.

Happy holidays!

Note: This is an automated response to your message  "Re:
[loopback-sdk-ios] Subclass LBPersistedModelRepository in Swift (#86)" sent
on 12/21/15 11:50:34 AM.

This is the only notification you will receive while this person is away.

[2015-12-21 16:10] raymondfeng commented on #86
I am out of the office until 01/04/2016.

Happy holidays!

Note: This is an automated response to your message  "Re:
[loopback-sdk-ios] Subclass LBPersistedModelRepository in Swift (#86)" sent
on 12/21/15 11:55:02 AM.

This is the only notification you will receive while this person is away.

[2015-12-23 02:35] bhushpar82 commented on #84
Hi Hideya,

We plan to create separate [restApiRoot]/"xxxxxxxx" as it provides us flexibility to manage and store file(video/img/rawfiles-> analysis) by types. We have created "imagemodel" by creating a model in loopback server end and trying to push images by creating containers in it.

 However, I am doing this not through Loopback iOS SDK. I am using RestAPIs to create containers in "imagemodel

[2015-12-23 02:48] dexterac commented on #84
Hi Hideya,

Here is the server configuration used for the solution described by Bhushan (bhushpar82)

Server Side configuration used for the above solution:

<h3>server/datasources.json </h3>
[code]

<h3> server/models/imagemodel.js  </h3>
[code]

<h3> server/models/imagemodel.json </h3>
[code]

<h3> server/model-config.json </h3>
[code]

Now the api url is <h3>http://hostname:port/api/imagemodels

[2015-12-23 06:15] hideya commented on #84
Hi Bhushan and Atul

Thanks for the explanations and the info.  In that case, I think you need to define your own model which is compatible with your settings (because you are not using [the standard Storage component REST API](https://docs.strongloop.com/display/public/LB/Storage+component+REST+API)).

How about simply doing something like the following?
[code]
[code]
[code]
Hope this helps.  If

[2015-12-31 12:40] hideya commented on #13
And this subsequent doc is very much informative too: http://kevingoedecke.me/2015/12/29/loopback-swift-example-crud-app/

[2016-01-04 02:12] hideya commented on #13
I've uploaded a very simple Swift app that shows how to use LB iOS SDK in Swift: https://github.com/hideya/loopback-swift-simple-example
Hope this helps.

[2016-01-05 09:32] agfa555 commented on #13
This is great!!!!!
Are you going to port the library? I'm having trouble with user authentication.
What can I use instead of LBPersistedModelAllSuccessBlock? That one can only process an array and I just need an object.
Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Received non-Array'

[2016-01-06 21:29] crandmck commented on #13
@hideya Pointed me to https://github.com/hideya/loopback-swift-simple-example.

At first glance it looks pretty good, however, I don't know much about Swift.

I'm happy to addding a link to this in docs, but we'd want to have someone internal at least smoke-test it.  Also, should we consider moving it into an official StrongLoop example, assuming Hideya is willing to contribute it...?

But we shou

[2016-01-06 23:26] superkhau commented on #13
I don't know enough swift to maintain it. I mean it's definitely possible, but it'll depend on which one of our resources has the time an expertise to take this on. That and we should it run by @chandadharap before making any decisions on adding any more example repos.

[2016-01-07 01:26] crandmck commented on #13
Of course.  It might actually make more sense to add this to an existing example, since it uses the Coffee Shop server app.  But again, not sure how important Swift is.

[2016-01-07 07:07] hideya commented on #13
FYI, here are some data points for the discussion:

- [TIOBE Programming Language Index -- Swift #14, Obj-C #18](http://www.tiobe.com/index.php/content/paperinfo/tpci/index.html)
- [PYPL PopularitY of Programming Language -- Swift #9, Obj-C #8](http://pypl.github.io/PYPL.html)
- [Latest Language Ranking: Objective-C Swiftly Falling from Favor](https://adtmag.com/articles/2015/10/14/objective-c-fal

[2016-01-07 13:41] bajtos commented on #13
+1

I asked a friend of mine who is developing iOS apps, what language does he use these days. The answer was "Swift, unless there is large legacy code base in ObjC".

[2016-01-07 15:48] superkhau commented on #13
:+1:

[2016-01-08 02:37] bhushpar82 commented on #84
Hi,

Indeed this worked!
Thanks for the help, now we can move to our next step of integrating socket.io

Best,
Bhushan

[2016-01-08 02:52] hideya commented on #84
I'm glad to know it worked!  I'll close this issue then.  Good luck!

[2016-01-08 02:52] #84 closed

[2016-01-08 07:02] agfa555 commented on #13
The more I try Swift, the more I like it.
It's trending a lot now and it is OpenSource so expect more developers to use it.
:+1:

[2016-01-09 02:33] kgoedecke commented on #13
I'm also currently working with Swift and the LoopBack SDK. That's why I created two projects:
https://github.com/kgoedecke/loopback-swift-crud-example
https://github.com/kgoedecke/loopback-swift-user-example

Hope both help people here!

[2016-01-10 22:03] kgoedecke opened #88 "LBFile uploadWithName should return HTTP Response"
I feel like it would be helpful if uploadWithName would pass the actual HTTP Response into the success callback or even an LBFile object.

https://github.com/strongloop/loopback-sdk-ios/blob/master/LoopBack/LBFile.m#L188

For example I'm converting the filename on the server side to a random hash value, and I need the HTTP response to let the client side know what the new filename is.

I suggest t

[2016-01-12 05:52] hideya commented on #88
@kgoedecke thank you for posting the issue!  I agree that `uploadWithSuccess` and `uploadWithName` should have returned the `LBFile` object based on the server response, since the server does return such info.  I'll check out the PR asap.

[2016-01-13 14:24] kgoedecke commented on #37
@hideya Did you find out anything on that, I'm also quite curious what the generated SDK might look like.

[2016-01-15 04:31] hideya commented on #37
@kgoedecke no, I haven't found anything about the swagger codegen's support for swift yet.  FYI, https://github.com/strongloop/loopback-sdk-ios-codegen

[2016-01-15 13:10] kgoedecke commented on #37
@hideya interesting... I think swagger.io is the way to go on the long run, for now I guess we have to stick to the regular SDK.

[2016-01-16 07:28] hideya commented on #37
@kgoedecke I was a bit blind -- https://github.com/swagger-api/swagger-codegen does have SwiftCodegen.java.  Yeah, I agree it is the way to go.  I should take a look into it.

[2016-01-20 10:12] hideya commented on #88
@kgoedecke thanks for the PR!  Now the PR has been merged and the issue has been fixed.  I'm going to close this.

[2016-01-20 10:12] #88 closed

[2016-01-29 05:19] hideya opened #94 "Add Swift-based unit tests"
There was a case where a PR caused a Swift compatibility issue https://github.com/strongloop/loopback-sdk-ios/pull/87 although this didn't cause any issue with Objective-C.  In order to avoid such modifications, Swift-based unit test would better be added.

[2016-01-29 05:27] hideya opened #95 "Proposal to add "accepts" and "returns" to SLRESTContract"
As pointed out in https://github.com/strongloop/loopback-sdk-ios/pull/83#issuecomment-174502633, "the response ("returns" argument) is always passed as a JSON object and it's up to the API caller to extract individual arguments from the response, together with applying any type conversions as necessary."

One approach to hide that conversion process from SDK users is to add "accepts" and "returns"

[2016-01-29 05:40] hideya opened #96 "Add Generics support"
Generics has been introduced in Objective-C since Xcode 7 but the SDK is not updated to take advantage of it.  Nullability annotation and `__kindof` declaration are also introduced.  Those would better be applied to the SDK to improve its usability.

[2016-02-03 05:13] hideya opened #97 "Upsert fails when invoked right after create"
The following code that tries to update a model right after its creation fails with the error below:
[code]
[code]
The server side is seeing a request `PUT /widgets/:id?` which is failing to replace `:id` with the actual value.

This is a major issue.  Need to be fixed soon.  BTW, the unit test was not successful to capture this issue since it has `findById` between the first and the 2nd `save`s.

[2016-02-03 05:19] hideya opened #98 "SLObject's property attribute for repository shouldn't be "weak"?"
Currently `SLObject`'s `repository` property has an attribute `weak` but it doesn't look correct -- otherwise we carefully retain a reference to the `repository` object, it can get `nil`ed out and server method invocation starts to fail (and I saw a few occasions that happens).

I thought that it was kept as `weak` to avoid any cyclic reference, but I don't see any such possibilities.  I think it

[2016-02-03 10:32] hideya opened #99 "Usage of typedef for success/failure block type declarations causes Swift usability issue"
For example, `PersistedModel`'s `findById` method is declared as the following:
[code]
where, `LBPersistedModelFindSuccessBlock` is typedef'ed as `void(^)(LBPersistedModel *model)`.

When coding in Swift, completion for `findById:` becomes:
[code]
rather than expanding the typedefs like the following (like when we code in Obj-C):
[code]
I think this damages coding experience quite a bit.

In order

[2016-02-03 10:54] hideya commented on #60
Closing this as the fix https://github.com/strongloop/loopback-sdk-ios/issues/83 has been merged.

[2016-02-03 10:54] #60 closed

[2016-02-10 10:36] hideya commented on #99
@bajtos while working on this, I realised that there are so many lines I need to touch if I try to get rid of all the typedefs used for the success block types.  I'm not sure if it is worthwhile because of possibility of including subtile bugs and as we are moving towards swagger-codegen for Swift support.

So, here is a proposal -- cleanup typedefs added after ver 1.3.2, mark extra typedefs "depr

[2016-02-11 05:02] hideya commented on #99
Closing this as PR https://github.com/strongloop/loopback-sdk-ios/pull/101 (that implements the above mentioned proposal) has been merged.

[2016-02-11 05:02] #99 closed

[2016-02-11 07:27] hideya commented on #98
I'm closing this as PR https://github.com/strongloop/loopback-sdk-ios/pull/100 is merged.

[2016-02-11 07:27] #98 closed

[2016-02-11 07:27] hideya commented on #97
I'm closing this as PR https://github.com/strongloop/loopback-sdk-ios/pull/100 is merged.

[2016-02-11 07:27] #97 closed

[2016-02-16 20:09] mpycio opened #102 "Correct usage od SDK"
Hi,
Following example for ios, I have following code:

        let adapter = LBRESTAdapter(URL: NSURL(string: "http://polis.dev:3000/api/v1/"), allowsInvalidSSLCertificate: true)
        let repository = adapter.repositoryWithClass(PolisUserRepository.classForCoder())
        let user = repository.modelWithDictionary([
            "email": "mpycio@email.com",
            "password": "password"

[2016-02-17 06:35] hideya commented on #102
It is weird...  It looks like you created a model named `PolisUser`.  Have you write any custom `SLRESTContract` for that class? (or its super classes?)

BTW, this would not be related, but, is there any particular reason for saying  `PolisUserRepository.classForCoder()` instead of just `PolisUserRepository` when creating the repository?

[2016-02-17 10:07] mpycio commented on #102
I'm using LBx set of classes not SLx and trying to follow this guide: https://docs.strongloop.com/display/public/LB/iOS+SDK. So my PolisUser extends LBPersistedModel, I may be doing it all wrong ;).

[2016-02-18 11:46] hideya commented on #102
@mpycio I see.  So, your PolisUser class is a regular LBPersistedModel and it doesn't involve any custom `SLRESTContract`.  Hmm...  Could you try this and see if it works?  https://github.com/hideya/loopback-swift-simple-example

[2016-02-19 22:34] crandmck opened #103 "Add SDK API docs back without search code"
The search feature generated by Doxygen contains third-party copyrighted code, which IBM won't allow in modules we publish.

Investigate whether it's possible to generate SDK API docs _without_ search capability, to avoid this.  If so, republish the API docs to http://apidocs.strongloop.com.

[2016-02-20 18:52] sw8fbar opened #104 "allWithSuccess failing with reason [LBModel setId:]: unrecognized selector sent to instance"
Hi I am using swift with the loopback-sdk-ios. The code is as follows

`import Foundation

class Organization : LBPersistedModel {

    var    name: String!
    var    state: String!
    var    country: String!
    var    logo: String!
    var    contentType: String!
    var    mapCenter: GeoCode?
}

class OrgRepositories : LBPersistedModelRepository {

    override init!(className name: String!)

[2016-02-20 20:28] sw8fbar commented on #104
Figured it out. Need to set the modelCalss for the Repository

[2016-02-20 20:28] #104 closed

[2016-02-26 20:28] kgoedecke commented on #21
You might want to check out the tutorial I wrote: http://kevingoedecke.me/2015/12/29/loopback-swift-example-crud-app/ its also available on GitHub: https://github.com/kgoedecke/loopback-swift-crud-example

I'm also working on other tutorial with Swift and the LoopBack SDK.

[2016-03-09 21:46] jubbens commented on #31
@carliwis @hideya As noted in the [referenced issue](https://github.com/strongloop/loopback-sdk-ios/issues/2), the workaround does not work. This is because you need to create a new item for your relation to the repository contract. This Swift example allows you to reference `/users/:id/car` as you expect:

In `class userRepository:LBPersistedModelRepository`:
[code]

And to retrieve related `Car:

[2016-03-21 11:00] ramonpoca opened #106 "Fix API links in http://apidocs.strongloop.com/loopback-sdk-ios/"
The API documentation in http://apidocs.strongloop.com/loopback-sdk-ios/ is broken.
Clicking on "See LoopBack iOS SDK for API reference documentation." gives you a:

    Cannot GET /loopback-sdk-ios/api/annotated.html

error page.

[2016-03-21 11:55] agfa555 opened #107 "Pass Access Token as a request header"
Hi,

I've been searching all over the web to try to pass the accessToken of a logged user through a request header but I can't seem to get it done. I've searched all over LBRestAdapter and I already see there's a token but I can't pass it in a request header.
Any help is greatly appreciated.

Thanks!

[2016-03-21 12:39] #107 closed

[2016-03-24 22:56] rmg commented on #96
@hideya I've got good news and bad news...

Good news: I'm migrating CI to a new Mac with the latest OS X and XCode!

Bad news: CI is failing on the new Mac and I'm not sure if it is related to switching to a new XCode or not :-(

[2016-03-27 10:55] hideya commented on #96
@rmg I checked out the issue quickly, but couldn't figure out the cause...  Please see for more details https://github.com/strongloop/loopback-sdk-ios/pull/109

[2016-03-30 08:33] agfa555 opened #110 "How can I get the success response object when using POST or DELETE request"
Hi,

I'm trying to get the the success response for a POST (saveWithSuccess) or DELETE (destroyWithSuccess) request but I see that the definition of the method closures is empty. I can access the response in the error callback though.
How can I access the response object when I get a 20x response?

Thank you,

Andoni

[2016-04-13 07:27] xnramx opened #111 "Loopback with carthage"
I've tried to install the Loopback framework with Carthage but it didn't work.

Result: "The operation couldn’t be completed. (LaunchServicesError error 0.)"

![Error print screen](http://i.stack.imgur.com/NQOda.png)
Do you know how to fix it?

[2016-04-13 21:51] superkhau commented on #111
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more details.

As for your question, I've never used Carthage, so I wouldn't know. Have you used that framework before @bajtos?

[2016-04-14 14:46] bajtos commented on #111
Nope, I am not familiar with Carthage either :(

[2016-04-14 18:39] superkhau commented on #111
@xnramx I'm going to close this issue as we're probably not going to prioritize it anytime soon. I suggest getting help from community at https://gitter.im/strongloop/loopback, maybe someone who is a Carthage expert will be able to guide you in the right direction.

Maybe try posting at the Carthage repo and see if they can give you more insight. Feel free to ping in this issue if you find anythin

[2016-04-14 18:39] #111 closed

[2016-04-19 04:13] KevinSJ commented on #104
@sw8fbar hi, I am having the exactly problem as you mentioned in this issue, can you provide some pointers on what you mean in your comment exactly? Thanks a lot!

[2016-04-19 12:30] sw8fbar commented on #104
hi Kevin, Try this in your repository definition, replace Organization with your Loopback Model Name
`    override init!(className name: String!) {
        super.init(className: "Orgs")
        self.modelClass = Organization.self
    }
    override init(){
        super.init(className: "Orgs")
        self.modelClass = Organization.self
    }`

Instead of specifying the modelClass, you can also `i

[2016-04-19 14:45] KevinSJ commented on #104
Thanks a lot @sw8fbar ! That really fix the problem!

[2016-04-26 04:49] skylinezy opened #112 "Wrong local path in LBFile.m"
I found this issue when debugging my file uploading code. I have a jpg file in the app bundle and has no problem to get the file path using:
`[[NSBundle mainBundle] pathForResource:@"testImage" ofType:@"jpg"];`

But when I call the `uploadWithSuccess:failure` on my subclass of LBFile object which created as:

[code]
the fullLocalPath seems to be wrong. the path returned by NSBundle already include

[2016-04-27 23:19] crandmck commented on #103
See https://www.star.bnl.gov/public/comp/sofi/doxygen/config.html#config_search.  It looks like it's possible to remove the search feature, but need to confirm that this also removes the offending JS code.

[2016-04-28 14:29] Eke opened #113 "Authorized user"
Hello.

What is best practice to have information about logged-in user in each ViewController ?

Do i have to call `findCurrentUserWithSuccess` each time or is there something like shared instance of logged-in user? Or must i implement my own disk cache logic?

[2016-05-06 13:30] sanandrea opened #114 "Model Cascading and Model Collections"
It seems it is not possible to automatically inflate the embedded models (cascade) or collection relationships. At the current status one should manually create the embedded models.
e.g.
[code]
and
[code]

When retrieving `restaurant` from server the `address` field is a `NSDictionary`.

[2016-05-06 13:33] sanandrea commented on #114
@bajtos this other [lib](https://github.com/icanzilb/JSONModel) gave me some ideas of how to achieve this.

[2016-05-10 12:40] bajtos commented on #114
Hello @sanandrea, thank you for filling this feature request. I think it's a valid one! Unfortunately we don't have bandwidth to implement it in the near future. Would you like to contribute this feature yourself?

[2016-05-10 13:04] sanandrea commented on #114
@bajtos I have sort of implemented this, but I would like to know if there is another repo which is used to test the sdk features.

[2016-05-13 11:25] bajtos commented on #114
Not really, we usually write unit/integration tests to verify new features.

[2016-05-15 15:11] skylinezy commented on #113
From my knowledge (please correct me if I'm wrong), there is a exposed property on LBUserRepository called cachedCurrentUser, which is an instance of LBUser, and another exposed property called currentUserId, which is just a string. I used currentUserId in my app so I assume the cachedCurrentUser is doing what its name is implying. For me I only need to know the logged-in user ID in my view contro

[2016-06-25 16:59] jpswensen opened #115 "Accessing the results of an include filter"
I am trying to figure out how to access the results of an include filter (I am using swift). I have tried a ton of things, but none of them seem to be working.

For example, once I execute the findWithFilter and stop at a breakpoint I can see that the results actually do include the included items (user_closet_items).
(lldb) po closet
<WRWW.UserCloset {
    "closet_name" = "My First Closet";
    "

[2016-06-25 17:20] jpswensen commented on #115
As a follow-up, I finally found something that works.
In the parent model that has a "hasMany" relationship I added
   var user_closet_items: [NSDictionary]? = nil

Then, in the response to findWithFilter I added the following code
  let closetItem:UserClosetItem = AppDelegate.userClosetItemRepository.modelWithDictionary(closet.user_closet_items![idx] as [NSObject : AnyObject]) as! UserClosetItem

[2016-08-16 08:39] imarkopolo opened #118 "iOS API documentation isnt working"
So i'm trying to get your iOS API Documentation - http://apidocs.strongloop.com/loopback-sdk-ios/api/annotated.html
and its an html error "Cannot GET /loopback-sdk-ios/api/annotated.html"
can someone give me a working link for it?

[2016-08-16 08:40] ArtIstomin commented on #118
+

[2016-08-16 08:40] imarkopolo commented on #106
same there

[2016-08-16 08:41] ArtIstomin commented on #106
+

[2016-09-07 09:33] dongmai opened #119 "How do I put a custom field into the header requests rather than just accessToken?"

[2016-09-14 12:06] agfa555 opened #120 "Swift 3.0"
SDK is throwing millions of errors in Swift 3.0
Anyone has it working?

[2016-09-15 16:43] 0candy opened #121 "Use ESLint instead of JSHint"
Configure this project to use ESLint instead of JSHint.

[2016-09-17 08:21] yellowred commented on #120
I am struggling with "Cannot convert value of type '(NSError!) -> Void' to expected argument type 'SLFailureBlock!'". This code sipped was working for Swift 2 and it seems there is a problem with Swift 3:
[code]
I am not an expert in  Loopback iOS SDK though. It would be great if some one can prove this SDK working for Swift v3.

[2016-09-19 10:35] agfa555 commented on #120
Hi @yellowred,

Try changing to:

financial .save(success: { () -> Void in
NSLog("Financial saved")
}, failure: { (error: Error?) -> Void in
// failure block
})

It's so sad this SDK is not updated for more than a year.
I think we're dropping from Loopback soon.
Hope it works.

[2016-09-19 20:11] superkhau commented on #120
@bajtos ^

[2016-09-20 15:26] bajtos commented on #120
Hello, I am afraid Swift 3 support in the iOS SDK is not a priority for us right now. Would you mind contributing the necessary changes yourself?

[2016-10-05 21:22] Sequoia commented on #13
@hideya @crandmck @superkhau what is the status here? It sounds like @crandmck is not comfortable adding this to docs due to personal unfamiliarity with Swift. Are you able to add this to the docs @hideya?

[2016-10-05 21:24] naomik commented on #13
Swift is represented by birds and birds are cool. +1 for Swift 🐦

[2016-10-06 07:14] #110 closed

[2016-10-06 07:15] agfa555 commented on #110
I had to extend the library, if anyone wants to know drop me a line.

[2016-10-06 07:19] agfa555 commented on #120
I have made so many changes already that I don't think it might suit other people.
Support for Swift 3 is nothing more than a few improvements to the Objective-C code.
Here's a very good article on what to do and not to do: https://realm.io/news/altconf-conrad-kramer-writing-iOS-sdk/

[2016-10-06 07:49] superkhau commented on #13
I think @jannyHou was working on community projects wiki/docs right? @jannyHou Please chime in. I think we should have a page on loopback.io to support interesting community examples/projects.

[2016-10-06 14:24] jannyHou commented on #13
@superkhau Sure I will update that pr asap

[2016-10-07 23:46] crandmck commented on #13
@superkhau We have that now!
@jannyHou Community projects docs are here: http://loopback.io/doc/community/index.html

Instructions for adding a page are here: http://loopback.io/doc/en/community/How-to-add-a-project.html  Of course, you can branch the repo instead of forking.  LMK if you have questions.

[2016-10-27 19:23] riterrani commented on #118
+

[2016-12-07 04:16] superkhau commented on #119
Please post questions at https://groups.google.com/forum/#!forum/loopbackjs or try asking on our [Gitter](https://gitter.im/strongloop/loopback). See https://github.com/strongloop/loopback/wiki/Questions for more details.
Please post questions at on our [Google Groups forum](https://groups.google.com/forum/#!forum/loopbackjs) or try asking using live chat on our [Gitter](https://gitter.im/stronglo

[2016-12-07 04:16] #119 closed

[2016-12-07 22:01] crandmck commented on #118
This was due to https://github.com/strongloop/loopback-sdk-ios/pull/91.

[2016-12-09 00:58] siddhipai opened #127 "CI failures for PR builder"
see [#14](https://github.com/strongloop/loopback-sdk-ios-codegen/pull/14)

[2017-01-30 22:08] crandmck commented on #118
closed in favor of https://github.com/strongloop/loopback-sdk-ios/issues/103.

[2017-01-30 22:08] #118 closed

[2017-12-01 17:28] igordeoliveirasa opened #133 "Swift 4 error"
**Declaring**
[code]

**Executing**
[code]

**Error**
[code]

[2017-12-03 12:12] igordeoliveirasa commented on #133
I just added: @objcMembers on top of classes.

[2017-12-03 12:12] #133 closed

[2017-12-03 15:36] igordeoliveirasa opened #134 "Swift 4 - always creates instead of update."
It looks like setId of LBPersistedModel is not working correctly.

[2017-12-14 09:29] bajtos opened #136 "Call for maintainers"
IBM/StrongLoop is no longer actively maintaining this project. If you find this SDK useful and would like to step up as a maintainer, then please leave a comment in this issue.

[2018-01-05 09:30] bajtos commented on #12
See #136

[2018-01-05 09:30] #12 closed

[2018-02-28 09:25] meashishvaid commented on #114
@sanandrea Can you please suggest me how to implement this ? It would be great if you can provide some help.

[2018-03-29 19:38] dhmlau commented on #9
Closing as resolved.

[2018-03-29 19:38] #9 closed

[2018-04-06 15:45] #127 closed

[2018-09-19 17:24] dhmlau commented on #6
Closing due to inactivity

[2018-09-19 17:24] #6 closed, assigned to nobody

[2018-10-11 14:08] #55 closed